In [4]:
import pandas as pd
df = pd.read_csv("https://waf.cs.illinois.edu/discovery/berkeley.csv")
df

       Year  Major Sex Admission
0      1973      C   F  Rejected
1      1973      B   M  Accepted
2      1973  Other   F  Accepted
3      1973  Other   M  Accepted
4      1973  Other   M  Rejected
...     ...    ...  ..       ...
12758  1973  Other   M  Accepted
12759  1973      D   M  Accepted
12760  1973  Other   F  Rejected
12761  1973  Other   M  Rejected
12762  1973  Other   M  Accepted

[12763 rows x 4 columns]

In [6]:
df.iloc[0]

Year             1973
Major               C
Sex                 F
Admission    Rejected
Name: 0, dtype: object